<form class="example-form">
    <mat-label><h2>Sign In</h2></mat-label>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>User ID</mat-label>
      <input matInput placeholder="Ex. 1" type="number">
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Ex. Pizza" type="text">
    </mat-form-field> 
    <!-- <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>  -->
    <button mat-flat-button color="primary">Sign In</button>  
  </form>