<h3><p align="center">{{expense_string}} expense</p></h3>
<div class="cont">
<div class="left">
<!-- <h2><input type="submit" value="{{editMode ? 'Update Expense Item': 'Add An Expense'}}" id="btn" (click)="addExpense()"></h2> -->
<h2>Add An Expense</h2>
<form [formGroup]="newitems">
    <div class="form-group">
      <label for="userId" class="form-label"> User ID</label>
      <input class="form-control" formControlName="userId" type="number" name="userId" id="userId" >             
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="expense" class="form-label">Expense</label>
      <input formControlName="expense"  class="form-control"  type="text" name="expense" id="expense" >
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="quantity" class="form-label">Quantity</label>
      <input formControlName="quantity"  class="form-control" type="number" name="quantity" id="quantity" >
    </div>
    <pre></pre>
    <div class="form-group">
      <label for="cost" class="form-label">Cost</label>
      <input class="form-control" formControlName="cost"  type="number" name="cost" id="cost">
    </div>
    <pre></pre>
    <div class="bottom">
    <button type="reset" class="btn btn-warning">
      Reset
    </button>
    <button type="submit" (click)="addExpense()" class="btn btn-dark">Add</button>
    <!-- <input type="submit" value="{{editMode ? 'Edit': 'Add'}}"  (click)="addExpense()" class="btn btn-dark"> -->
    </div>
</form>  
</div>
<div class="right">
<h2><ins>All Expenses</ins></h2>
<table>
<thead>
  <tr>
    <td>User Id</td>
    <td>Expense</td>
    <td>Quantity</td>
    <td>Cost</td>
    <td></td>
    <td></td>
  </tr>
</thead>
<tbody>
  <tr *ngFor="let exp of myexpenses">
    <td>{{exp.user_id}}</td>
    <td>{{exp.expense}}</td>
    <td>{{exp.quantity}}</td>
    <td>{{exp.cost}}</td>
    <td><button class="btn delete" (click)="deleteExpense(exp.id)">Delete</button></td>
    <!-- <td><button class="btn edit" (click)="editExpense(exp.id)">Edit</button></td> -->
  </tr>
</tbody>
<div class="bottom">
  <button class="btn fetch">Fetch Data</button>
  <button class="btn clear" (click)="clearExpense()">Clear</button>
</div>
</table>  
</div>
</div>